//Primary color

$red-alert: #d92927;
$yellow-alert: #e2d31b;
$green-alert: #27d92d;

//$black-100: #0c0c0d;
$black-100: #292929;
$black-75: #494949;
$black-50: #858585;
$black-25: #c2c2c2;

// background color
$gray-1: #f8f8f8;
$white-100: #fff;

//Alternative colors
$gray-2: #eef0f7;

//$blue-100: #4f9fce;
$blue-100: #378fc5;
$blue-75: #7bb7da;
$blue-50: #a6cfe6;
$blue-25: #d3e7f3;
$blue-10: #eef6fa;

//$red-100: #971d20;
$red-100: #860608;
$red-75: #b15558;
$red-50: #cb8d8f;
$red-25: #e5c6c7;

//$yellow-100: #e8bf3d;
$yellow-100: #e4b425;
$yellow-75: #edcf6d;
$yellow-50: #f3de9d;
$yellow-25: #f9eecd;

//$orange-100: #e88d3d;
$orange-100: #e47b25;

//$navy-100: #37556d;
$navy-100: #1e3e57;
//$green-100: #206e69;
$green-100: #085853;
//$beige-100: #c3a275;
$beige-100: #b89260;
$purple-100: #663399;
$brown-100: #5e5248;
$elm-100: #246d82;
$lime-100: #94aa3b;
