<div class="public-header">
    <div class="brand-left">
        <a href="/">
            <img src="/img/Learn-logo.png" alt="LEARN logo" class="learn-logo">
        </a>
    </div>
    <div>
        <h2>Authentic Lessons for 21<sup>st</sup> Century Learning</h2>
    </div>
    <div class="brand-right">
        <a href="https://www.k20center.ou.edu/">
            <img src="/img/k20center-symbol.png" alt="K20 Logo" class="k20-logo">
        </a>
    </div>
</div>

