<div class="tab-row">
    <div id="MyLrn-tabs">
        <ul class="lrn-tabs">
            <li data-content="#resources" class="tab-button active">My Resources</li>
            <li data-content="#collaborations" class="tab-button">Collaborations</li>
            <li data-content="#favorites" class="tab-button">Favorites</li>
            <li data-content="#create" class="tab-button">Create</li>
            <li data-content="#archive" class="tab-button">Archive</li>
        </ul>
    </div>
</div>
<div class="content">
    <div id="resources" class="tab-content my-document">
        <table width="100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Last Edited By</th>
                <th>Edit Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div style="width: 18px; float: left; margin-right: 0.5rem">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                             aria-describedby="desc" role="img">
                            <title>Draft</title>

                            <path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10"
                                  stroke-width="2" d="M38 2v8m16 8h-8m-8-4v4h4" stroke-linejoin="round"
                                  stroke-linecap="round"></path>
                            <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10"
                                  stroke-width="2"
                                  d="M16 2h-4v4m0 4v8m0 4v8m0 4v8m0 4v8m42-18v8m0-20v8m0 16v8m-42 2v4h4m4 0h8m4 0h8m4 0h10v-2m0-40v-2l-4-4m-2.7-2.7l-5-5m-2.8-2.8L38 2h-6M20 2h8"
                                  stroke-linejoin="round" stroke-linecap="round"></path>
                        </svg>
                    </div>
                    <a href="#">Baking Cupcakes!</a>
                </td>
                <td>5E Lesson</td>
                <td>Open Draft</td>
                <td>
                    <a href="#">Jane Baber</a>
                </td>
                <td>7/6/2021</td>
                <td>
                    <form action="#" method="post"
                          style="display:inline; text-align: center">
                        <input type="hidden" name="token"
                               value="4b6159be359e440046159047e55b385e.3yECpDQWsvJE7pw68Ufw9TjdASfYqBqXjxSHyym29tw.rhdA1m0n05wot-xKkHPCuEmuSWqszFbP0CXskxvvuO-JFW2cYHLcn3CW6w">
                        <button class="doc-btn edit" title="Continue Editing">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                 aria-describedby="desc" role="img">

                                <title>Edit</title>
                                <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10"
                                      stroke-width="2" d="M56 2.4l-26.1 26-4 9.7 9.7-4.1 26-26L56 2.4z"
                                      stroke-linejoin="round" stroke-linecap="round"></path>
                                <path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10"
                                      stroke-width="2" d="M34.4 11.6h-32v50h50v-32" stroke-linejoin="round"
                                      stroke-linecap="round"></path>
                                <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10"
                                      stroke-width="2" d="M50.8 7.6l5.6 5.6" stroke-linejoin="round"
                                      stroke-linecap="round"></path>
                            </svg>
                        </button>
                    </form>
                    <form action="#" method="post"
                          style="display:inline; text-align: center">
                        <input type="hidden" name="token"
                               value="6338a16a4b45103cf.kFRAUQvMK6ogYUm9R1_WyYeyM_-9Od8vHVU2Ai9Cwts.1xgoMDqmWMZDJS74Nxq1p_WBYYz8UItFWBZmR3ABir_VOBQ4JpRh7GcXDA">
                        <button class="doc-btn discard" title="Discard Changes">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                                 aria-labelledby="title" aria-describedby="desc" role="img">
                                <path data-name="layer1"
                                      d="M36 10a25.7 25.7 0 0 0-25.4 20.5l-3.2-4.3-4.8 3.6 9.8 13.4 13.4-9.8-3.5-4.9-6 4.4A19.7 19.7 0 0 1 36 16a19.8 19.8 0 0 1 20 20 20.8 20.8 0 0 1-6 14.7l4.2 4.2A26.9 26.9 0 0 0 62 36a25.7 25.7 0 0 0-26-26z"
                                      fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2"
                                      stroke-linejoin="round" stroke-linecap="round"></path>
                            </svg>
                        </button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">Character Recipe Cards</a>
                </td>
                <td>5E Lesson</td>
                <td>Published</td>
                <td>
                    <a href="#">Araceli Lopez</a>
                </td>
                <td>5/31/2022</td>
                <td>
                    <form action="#" method="post"
                          style="display:inline; text-align: center">
                        <input type="hidden" name="token"
                               value="2090d5713f0de9af73867.tNd6PqKh_u5AuauEgEk8cR3IrRPeuCGPSaGfZpHuwRQ.xeE4TPuQn4As4Nv04X0OPGy75V6q3G3XFpD0PqO3jyfi4xUG9sWQg3TB3A">
                        <button class="doc-btn edit" title="Edit">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                 aria-describedby="desc" role="img">

                                <title>Edit</title>
                                <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10"
                                      stroke-width="2" d="M56 2.4l-26.1 26-4 9.7 9.7-4.1 26-26L56 2.4z"
                                      stroke-linejoin="round" stroke-linecap="round"></path>
                                <path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10"
                                      stroke-width="2" d="M34.4 11.6h-32v50h50v-32" stroke-linejoin="round"
                                      stroke-linecap="round"></path>
                                <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10"
                                      stroke-width="2" d="M50.8 7.6l5.6 5.6" stroke-linejoin="round"
                                      stroke-linecap="round"></path>
                            </svg>
                        </button>
                    </form>
                    <form action="#" method="post"
                          style="display: inline; text-align: center">
                        <input type="hidden" name="token"
                               value="aa3b8c5d28bedff56f485a1a524f.2xmnFWFvng1M3zhzGnz5sS4ioW0AhqwdLsKE32uZqNQ.42vuRhEs3V0b6wscYjuzwFdV8wRv8vhuW7LviBzb0pasNMUjVxrsfiSqeQ">
                        <button class="doc-btn edit" title="Copy">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                 aria-describedby="desc" role="img">
                                <title>Copy</title>

                                <path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10"
                                      stroke-width="2" d="M16 48H2V2h46v14" stroke-linejoin="round"
                                      stroke-linecap="round"></path>
                                <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10"
                                      stroke-width="2" d="M16 16h46v46H16z" stroke-linejoin="round"
                                      stroke-linecap="round"></path>
                            </svg>
                        </button>
                    </form>

                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">Ecosystems, Human Activity, and Interactions, Oh My!</a>
                </td>
                <td>5E Lesson</td>
                <td>Under Review</td>
                <td>
                    <a href="#">Jordan Hayden </a>
                </td>
                <td>5/19/2022</td>
                <td><a href="#">See review progress</a>

                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 18px; float: left; margin-right: 0.5rem">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                             aria-describedby="desc" role="img">
                            <title>Copy</title>

                            <path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10"
                                  stroke-width="2" d="M16 48H2V2h46v14" stroke-linejoin="round"
                                  stroke-linecap="round"></path>
                            <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10"
                                  stroke-width="2" d="M16 16h46v46H16z" stroke-linejoin="round"
                                  stroke-linecap="round"></path>
                        </svg>
                    </div>
                    <a href="#">Ecosystems, Human Activity, and Interactions, Oh My!</a>
                </td>
                <td>5E Lesson</td>
                <td>Open Draft</td>
                <td>
                    <a href="#">Jane Baber</a>
                </td>
                <td>12/1/2020</td>
                <td>
                    <form action="#" method="post"
                          style="display:inline; text-align: center">
                        <input type="hidden" name="token"
                               value="4a9de21c.x-ekZU3_daZijCUjNMFjGs90x4f8DFDWY8kAaTAjwDs.ttHmFxTOFMgO1VVTVfVRV74Hj8qIaByOPPhrMQJ6jgiR08tdGZsby1b0Ug">
                        <button class="doc-btn edit" title="Continue Editing">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                 aria-describedby="desc" role="img">

                                <title>Edit</title>
                                <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10"
                                      stroke-width="2" d="M56 2.4l-26.1 26-4 9.7 9.7-4.1 26-26L56 2.4z"
                                      stroke-linejoin="round" stroke-linecap="round"></path>
                                <path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10"
                                      stroke-width="2" d="M34.4 11.6h-32v50h50v-32" stroke-linejoin="round"
                                      stroke-linecap="round"></path>
                                <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10"
                                      stroke-width="2" d="M50.8 7.6l5.6 5.6" stroke-linejoin="round"
                                      stroke-linecap="round"></path>
                            </svg>
                        </button>
                    </form>
                    <form action="#" method="post"
                          style="display:inline; text-align: center">
                        <input type="hidden" name="token"
                               value="f8acf273d3884aff25f0d9.1eq9tMJs7MtQ3cSt9smx8MGVsNz5YomurijGiV096jI.kqbV1fMGn6czmaPohozSnrOm4q-4C93E62uWzAJ-olaQhund7zSmjRergQ">
                        <button class="doc-btn discard" title="Discard Changes">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title"
                                 aria-describedby="desc" role="img">
                                <path data-name="layer1"
                                      d="M36 10a25.7 25.7 0 0 0-25.4 20.5l-3.2-4.3-4.8 3.6 9.8 13.4 13.4-9.8-3.5-4.9-6 4.4A19.7 19.7 0 0 1 36 16a19.8 19.8 0 0 1 20 20 20.8 20.8 0 0 1-6 14.7l4.2 4.2A26.9 26.9 0 0 0 62 36a25.7 25.7 0 0 0-26-26z"
                                      fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2"
                                      stroke-linejoin="round" stroke-linecap="round"></path>
                            </svg>
                        </button>
                    </form>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>